# For loop

SHEDRACK DOJILLO

# Iterating Over a List

In [5]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 <=0:
        print(n)

2
4
6
8
10

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 <=0]
result

[2, 4, 6, 8, 10]

# Iterating over a Dictionary

In [13]:
for char in "Python":
        print(char)

P
y
t
h
o
n

In [22]:

employee = { 'name':['Ada', 'Axel'],
                'position':['analyst','student'],
                'salary':[80000, 5000]
}

for key in employee:
    print(key)

name
position
salary

In [23]:
employee['salary']

[80000, 5000]

In [26]:
for value in employee.values():
    print (value)

['Ada', 'Axel']
['analyst', 'student']
[80000, 5000]

# Lambda Function

In [29]:
def multiply_by_2(x):
    x = 2* x
    return x

multiply_by_2(4)

8

In [48]:
y = 4

x = (lambda x : 2*x) (y)
x

8

In [49]:
type(x)

int